transformers==4.40.0
datasets==2.19.0
accelerate==0.29.0
numpy>=1.26.0,<2.0.0
pandas==2.2.0
scikit-learn==1.4.2
evaluate==0.4.1
mlflow==2.13.0
langchain==0.2.0
langchain-community==0.2.0
langchain-core
langchain-text-splitters
langchain-huggingface
chromadb==0.5.0
sentence-transformers==3.0.0
fastapi==0.111.0
uvicorn==0.30.0
pydantic==2.7.0
pypdf==4.2.0
aiofiles==23.2.1